<%- include('../../fragments/header.ejs') -%>


    <main>
        <script type="application/javascript" src="/js/validationTaskForm.js"></script>

       
        <h2><%- pageTitle -%></h2>
        <form class="form" novalidate method="post" action="<%- formAction -%> "  onsubmit="return validationForm();">
            <input type="hidden" name="_id" value="<%- task._id -%>">

            <label for="title" >Tytuł: <span class="symbol-required">*</span></label>
            <input type="text" name="title" id="title" required value="<%- task.title -%> " <%- (formMode === 'showDetails') ? 'disabled' : '' -%>
            class="<%- validationErrors.find( e => e.path.includes('title')) ? 'error-input' : '' -%> "/>
            <span id="errorTitle">
                <% if (validationErrors.find( e => e.path.includes('title'))){ %> 
                    <%- validationErrors.find( e => e.path.includes('title')).message -%>
                <% } %>  
            </span>

            <label for="dueTo" >Data zakończenia: <span class="symbol-required">*</span></label>
            <input type="date" name="dueTo" id="dueTo" required   <%- (formMode === 'showDetails') ? 'disabled' : '' -%>
            class="<%- validationErrors.find( e => e.path.includes('dueTo')) ? 'error-input' : '' -%> "/>
            <span id="errorDueTo">
                <% if (validationErrors.find( e => e.path.includes('dueTo'))){ %> 
                    <%- validationErrors.find( e => e.path.includes('dueTo')).message -%>
                <% } %>  
            </span>

            <label for="created" >Data Stworzenia: <span class="symbol-required">*</span></label>
            <input type="date" name="created" id="created" required  <%- (formMode === 'showDetails') ? 'disabled' : '' -%>
            class="<%- validationErrors.find( e => e.path.includes('created')) ? 'error-input' : '' -%> "/>
            <span id="errorCreatedAt">
                <% if (validationErrors.find( e => e.path.includes('created'))){ %> 
                    <%- validationErrors.find( e => e.path.includes('created')).message -%>
                <% } %>  
            </span>

            <label for="description" >Opis: <span class="symbol-required">*</span></label>
            <input type="text" name="description" id="description" required value="<%- task.description -%> " <%- (formMode === 'showDetails') ? 'disabled' : '' -%>
            class="<%- validationErrors.find( e => e.path.includes('description')) ? 'error-input' : '' -%> "/>
            <span id="errordescription">
                <% if (validationErrors.find( e => e.path.includes('description'))){ %> 
                    <%- validationErrors.find( e => e.path.includes('description')).message -%>
                <% } %>  
            </span>


            <% if(formMode == 'showDetails') { %> 
                <div class="section-buttons">
                    <a href="/tasks/edit/<%- task._id -%>"  class="list-actions-button-edit" >Edytuj</a>
                </div>
            <% } %> 
            <div class="form-buttons">
                    <p id="errorSumary"></p>
            <% if(formMode != 'showDetails') { %> 
                <input type="submit" value="<%- btnLabel -%>" class="form-button-submit" />
                <a href="/tasks" class="form-button-cancel">Anuluj</a>
            <% } else { %> 
                <p><a href="/tasks"class="list-actions-button-details">Powrót</a></p>
            <% } %> 


        </form>

        <% if ((formMode === "showDetails" ) || ( formMode === 'edit' )){ %> 

            <h2>Szczegóły zadań:</h2>
    
            <div>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Imie i Nazwisko</th>
                        <th>Status</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let e of task.employeetask) {%> 
                        <tr>
                            <td> <a href="/employees/details/<%- e.employee._id -%>"><%- e.employee.firstName + " " + e.employee.lastName  -%></a></td>
                            <td> <%- e.status -%> </td>
                            <td> <%- e.comment ? e.comment : "" -%> </td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    
            <% } %> 
            

            <script>
                document.getElementById('dueTo').setAttribute('value', getFormatedDate('<%-  task.dueTo  -%> '));
                document.getElementById('created').setAttribute('value', getFormatedDate('<%-  task.created  -%> '));
            </script>

    </main>

    <%- include('../../fragments/footer.ejs') -%>
