<%- include('../../fragments/header.ejs') -%>

    <main>
        <h2>Lista Zadań:</h2>
        <div>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Data sworzenia</th>
                    <th>Data zakończenia</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let task of tasks) { %>
                    <tr>
                        <td><%- task.title -%></td>
                        <td><%- task.created.toISOString().split("T")[0] -%></td>
                        <td><%- task.dueTo.toISOString().split("T")[0] -%></td>
                        <td><%- task.description -%></td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/tasks/details/<%- task._id -%> " class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/tasks/edit/<%- task._id -%> " class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="/tasks/delete/ <%- task._id -%> " class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <% } %> 
            </tbody>
        </table>
    </div>

        <p><a href="/tasks/add" class="button-add">Dodaj nowe zadanie</a></p>
    </main>

<%- include('../../fragments/footer.ejs') -%>