<%- include('../../fragments/header.ejs') -%>


    <main>
        <h2>Lista zleconych zadań pracowników:</h2>
        <div>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Nazwa zadania</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let empTask of empsTasks) { %>
                    <tr>
                        <td><%- empTask.employee.firstName -%></td>
                        <td><%- empTask.employee.lastName -%></td>
                        <td><%- empTask.tasks.title -%></td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/employees-tasks/details/<%- empTask._id -%> " class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/employees-tasks/edit/<%- empTask._id -%>" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="/employees-tasks/delete/<%- empTask._id -%>" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <% } %> 
            </tbody>
        </table>
    </div>
        <p><a href="/employees-tasks/add" class="button-add">Dodaj zadanie pracownikowi</a></p>
    </main>

    <%- include('../../fragments/footer.ejs') -%>
